@import "tailwindcss";

* {
  box-sizing: border-box;
  /* outline: solid 1px red; */
}

:root {
  --primary: #8b5cf6;
  --soft-primary: #916ada;
  --montserrat: 'Montserrat', sans-serif;
  --gray: #6c7887;
}

body {
  font-family: var(--montserrat);
}